In [1]:
#  import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv(r"C:\Users\hp\Downloads\New folder (2)\train.csv")

In [6]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [ ]:
df.tail()

In [ ]:
# calculating the no. of null value
df["Postal Code"].isnull().sum()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
#Filling 0 to the Empty column
df["Postal Code"].fillna(0,inplace=True)

In [ ]:
#changing datatype from float to int
df["Postal Code"]=df["Postal Code"].astype("int")

In [ ]:
df.info()

In [ ]:
df.describe()

# Data Cleaning
### Checking for Duplicates

In [ ]:
# using Duplicated method for FInding duplicates
df.duplicated().sum()

# Exploratory Data Analysis
## Customer Analysis
#### Customer Segmentation

In [ ]:
# types of customers
types_of_cust=df["Segment"].unique()
print(types_of_cust)

In [ ]:
#checking no. of customers in each segment
segment_counts = df.groupby('Segment').size().reset_index(name='Customer id')
print(segment_counts)

In [ ]:
#renaming columns
segment_counts=segment_counts.rename(columns={"Segment":"Cust_type","Customer id":"Total_customer"})
print(segment_counts)

In [ ]:
#Plotting a pie chart
fig = plt.figure(figsize =(10, 7))
plt.pie(segment_counts["Total_customer"], labels = segment_counts["Cust_type"],autopct='%1.1f%%')
plt.title("Distribution of Customers")

In [ ]:
df.head()

In [ ]:
sales_per_custcategory=df.groupby(['Segment'])['Sales'].sum().reset_index()
print(sales_per_custcategory)

In [ ]:
plt.pie(sales_per_custcategory["Sales"],labels=sales_per_custcategory["Segment"],autopct='%1.1f%%')
plt.title("Sales per cust category")

In [ ]:
# Create the bar chart
plt.bar(sales_per_custcategory["Segment"],sales_per_custcategory["Sales"] )

# Add a title and label the axes
plt.title('My Bar Chart')
plt.xlabel('Segment')
plt.ylabel('Sales')

# Display the chart
plt.show()

### Since from the above graphs and pie chart we hav analyse that the Consumer based product is most profitable

In [ ]:
sales_per_category = df.groupby('Category').size().reset_index(name='Sales')
print(sales_per_category)

In [ ]:
plt.pie(sales_per_category["Sales"], labels = sales_per_category["Category"],autopct='%1.1f%%')
plt.title("Sales per Category")

### From the above graph we have analyse that the Office supplies had the Maximum sales.

#  Customer Loyalty

In [ ]:
df.head()

In [ ]:
# grouping the data according to (customer name,customer id,segment) and calculating the frequency of orders
customer_order_frequency=df.groupby(["Customer ID","Customer Name","Segment"])["Order ID"].count().reset_index()
print(customer_order_frequency)

In [ ]:
top10=customer_order_frequency.sort_values(by="Order ID",ascending=False)
print(top10.head(10).reset_index(drop=True))

#### in terms of frequency Willian brown is the customer with highest no. of orders

In [ ]:
# group the data based on Customer Id,customer name asn Sales.
total_sales_by_customer=df.groupby(["Customer ID","Customer Name"])["Sales"].sum().reset_index()
top=total_sales_by_customer.sort_values(by="Sales",ascending=False)
print(top.head(10).reset_index(drop=True))

 ##### In terms of sales Sean Miller is the customer with the highest no of sales.

# Mode of shipping

In [ ]:
df.head()

In [ ]:
mode_of_shipping=df.groupby(["Ship Mode"])["Order ID"].count().reset_index()
print(mode_of_shipping)

In [ ]:
# Create the bar chart
plt.bar(mode_of_shipping["Ship Mode"],mode_of_shipping["Order ID"] )

# Add a title and label the axes
plt.title('Mode of Shipping')
plt.xlabel('Ship Mode')
plt.ylabel('Order ID')

# Display the chart
plt.show()

## From the above graph we have analysis that Standard class has the highest no.of shipment.

#### Graphical analysis by STATE and CITY.

In [ ]:
#customer by state
state=df["State"].value_counts().reset_index()
state=state.rename(columns={"count":"total_customer"})
print(state.head(10))

In [ ]:
#customer by city
city=df["City"].value_counts().reset_index()
city=city.rename(columns={"count":"total_customer"})
print(city.head(10))

## Sales per state

In [ ]:
#sales per state
sales_per_state=df.groupby(["State"])["Sales"].sum().reset_index()
print(sales_per_state.head(10))

In [ ]:
#top 5 states
top_state=sales_per_state.sort_values(by="Sales",ascending=False)
print(top_state.head(10).reset_index(drop=True))

In [ ]:
#sales per city
sales_per_city=df.groupby(["City"])["Sales"].sum().reset_index()
top_city=sales_per_city.sort_values(by="Sales",ascending=False)
print(top_city.head(10).reset_index(drop=True))

# Product Analysis

In [ ]:
df.head()

In [ ]:
# types of product category
product_category=df["Category"].unique()
print(product_category)

In [ ]:
# Group the data by sub_category
sub_category=df.groupby(["Category"])["Sub-Category"].nunique().reset_index()
print(sub_category)

In [ ]:
sub_category=sub_category.sort_values(by= 'Sub-Category',ascending=False)
print(sub_category)

In [ ]:
#Sales for each category
category_sales=df.groupby(['Category'])['Sales'].sum().reset_index()
category_sales=category_sales.sort_values(by='Sales',ascending=False)
print(category_sales)

In [ ]:
#plotting a pie chart
plt.pie(category_sales['Sales'],labels=category_sales['Category'],autopct='%1.1f%%')
plt.title=("Category Sales")
plt.show()

### From the above graph we have clearly seen that the Technology category have the Maximum sales.

In [ ]:
# sub_category sales.
subcat_sales=df.groupby(['Sub-Category'])['Sales'].sum().reset_index()
subcat_sales=subcat_sales.sort_values(by='Sales',ascending=True)
print(subcat_sales.reset_index(drop=True))

In [ ]:
#plotting the bar graph
plt.bar(subcat_sales['Sub-Category'],subcat_sales['Sales'])
plt.title=("category sales")
plt.xlabel=['Sub-Category']
plt.ylabel=['Sales']
plt.xticks(rotation=90)
fig = plt.figure(figsize =(10, 7))
plt.show()

### From the above graph we have seen that the phones have the highest sales in sub_category.

# Yearly Sales

In [ ]:
# convert order date to date time format.
df['Order Date'] = pd.to_datetime(df['Order Date'])
yearly_sales=df.groupby(df['Order Date'].dt.year)['Sales'].sum().reset_index()
yearly_sales=yearly_sales.rename(columns={'Order Date':'Year','Sales':'Total Sales'})
print(yearly_sales)

In [ ]:
plt.bar(yearly_sales['Year'],yearly_sales['Total Sales'])
#label
plt.title=("yearly sales")
plt.xlabel=["Year"]
plt.ylabel=["Total Sales"]
fig = plt.figure(figsize =(20, 25))
plt.show()

In [ ]:
# plotting the line graph 
plt.plot(yearly_sales['Year'],yearly_sales['Total Sales'],marker='o',linestyle='--')
#label
plt.title=("yearly sales")
plt.xlabel=["Year"]
plt.ylabel=["Total Sales"]
fig = plt.figure(figsize =(20, 25))
plt.show()

## From the above two graphs we have seen that year on year sales has been Increased.

# Quaterly sales

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
# filter data acc. to year
yearly_sales=df[df['Order Date'].dt.year==2017]
# calculating quaterly sales of 2017.
Quaterly_sales=yearly_sales.resample('Q',on='Order Date')['Sales'].sum().reset_index()
Quaterly_sales=Quaterly_sales.rename(columns={'Order Date':'Quater','Sales':'Total Sales'})
print("This is the quaterly sales of 2017")
print(Quaterly_sales)

In [ ]:
#plotting the linE graph
plt.plot(Quaterly_sales['Quater'],Quaterly_sales['Total Sales'],marker='o',linestyle='--')
#label
plt.title=("Quaterly sales")
plt.xlabel=["Quater"]
plt.ylabel=["Total Sales"]
plt.xticks(rotation=90)
plt.show()

### Monthly Sales trend for year 2017

In [ ]:
df['Order Date']=pd.to_datetime(df['Order Date'])
# filter data acc. to year
monthly_sales=df[df['Order Date'].dt.year==2017]
# calculating quaterly sales of 2017.
monthly_sales=yearly_sales.resample('M',on='Order Date')['Sales'].sum().reset_index()
monthly_sales=monthly_sales.rename(columns={'Order Date':'Month','Sales':'Total Sales'})
print("This is the Monthly sales of 2017")
print(monthly_sales)

In [ ]:
#plotting the linE graph
plt.plot(monthly_sales['Month'],monthly_sales['Total Sales'],marker='o')
#label
plt.title=("monthly sales")
plt.xlabel=["Month"]
plt.ylabel=["Total Sales"]
plt.xticks(rotation=90)
plt.show()

### From the above graph-: December month had the highest sales.

# Conclusion-:

* Most prefered shipping mode is the standard class.
* Most Valuable product category is Technology.
* Consumers contributes the half of the global store revenues.
* In the sub-category Phones have the highest sales among all.
* Most loyal and frequent customer in store is William brown with the highest 35 order.

* The customer Sean miller ranked the highest in terms of values of goods purchased with ($25043).

* The stated California,New york and Texas holds the most customers and highest in sales.
* There is a direct relation between Customers and Sales in Top States.
* Sales increased after drop in 2016 and jumps in 2018 with productives sales of($722K).

# Recommendations

* Allocate resources to optimize top performing product categories and sub-categories to maximize sales.
* Consider offering multiple shipiing options to cater to different customer prefrences.
* Consumer and Corporate segment make up more than 70 % of the customer base.
* For least selling products ,either drop from the catalogue or change suppliers and bargain for the cheap price.